@font-face {
    font-family: 'Gravity Book';
    src: url('/fonts/Gravity-Book.otf') format('opentype');
    font-weight: 350;
    font-style: normal;
}


@font-face {
    font-family: 'Gravity Regular';
    src: url('/fonts/Gravity-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Gravity';
    margin: 0;
    padding-top: 60px;
    padding-left: 10%;
    background-color: #f8f8f8;
}

.heading{
    font-weight: 350;
    font-size: 48px;
    text-transform: uppercase;
    color: #2d2b2b;
}

.banner{
    width: 574px;
    height: 1024px;
    position: absolute;
    right: 0;
    top: 0;
}

.burger-icon{
    width: 46px;
    height: 24px;
}

.logo{
    width: 132px;
}

.image-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.hero-section{
    width: 564px;
    height: 335px;
    margin-top: 10%;
}

.plain{
    font-size: 24px;
    color: #2d2b2b;
}

.button-main{
    font-family: 'Gravity';
    outline: none;
    border: none;
    width: 202px;
    height: 49px;
    font-size: 20px;
    color: #fff;
    background-color: #223d21;
    border-radius: 10px;
    font-weight: 350;
}

.button-wrap{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: #545353;
}

.menu {
    position: fixed;
    top: 0;
    left: -70%; 
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.menu li {
    margin: 20px 0;
}

.menu li a {
    text-decoration: none;
    color: #2d2b2b;
    font-size: 24px;
    font-weight: 400;
    display: block;
    padding: 10px 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.menu.show {
    left: 0;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.burger-icon {
    width: 46px;
    height: 24px;
    cursor: pointer;
}

.running-slide{
    background-color: #6c7c7a;
    font-size: 24px;
    color: #f8f8f8;
    width: 100%;
    padding: 0 !important;  
}

.text{
    width: 609px;
}

h2{
    font-size: 36px;
    text-transform: uppercase;
    color: #2d2b2b;
    font-weight: 350;
}

h3{
    font-size: 20px;
    color: #545353;
    width: 285px;
    font-weight: 350;
}
.services{
    margin-top: 40%;
}
.service-grid{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.service{
    border-radius: 20px;
    width: 551px;
    height: 263px;
    background: #fdfdfd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrap{
    padding: 20px;
}

.service img{
    width: 210px;
    height: 263px;
}

.service-row{
    margin-top: 3%;
    display: flex;
    gap: 10%;
}

.review{
    background: #98a5a4;
    border-radius: 10px;
    width: 516px;
    height: 299px;
    padding: 30px;
}

.reviews{
    margin-top: 10%;
}

.review p, .contact p{
    font-size: 24px;
    color: #f8f8f8;
    width: 460px;
    font-weight: 350;
}

.author img{
    width: 52px;
    height: 52px;
}

.author{
    display: flex;
    gap: 20px;  
    align-items: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.contact{
    border-radius: 10px;
    width: 516px;
    height: 437px;
    background: #98a5a4;
    padding: 20px;
}

.form{
    border-radius: 10px;
    width: 516px;
    height: 437px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    padding-left: 20px;
}

.form input, #email, #password, #name, #password-confirm, .booking-select, .calendar, .textarea, .rating{
    border-radius: 10px;
    width: 386px;
    height: 64px;
    background: rgba(152, 165, 164, 0.85);
    font-weight: 350;
    font-size: 20px;
    color: #f8f8f8;
    outline: none;
    border: none;
    padding: 10px;
}

.form input::placeholder{
    font-weight: 350;
    font-size: 20px;
    color: #ebebeb;
    font-weight: 350;
    padding: 10px;
}

.disclaimer{
    font-weight: 350;
    font-size: 16px;
    color: rgba(152, 165, 164, 0.85);
}

footer{
    width: 100%;
    height: 150px;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    color: #2d2b2b;
    font-weight: 350;
    justify-content: center;
}

.contacts, footer {
    margin-left: -10%; 
}

@media screen and (max-width: 1440px) {
    body{
        padding-left: 5%;
    }
    .service-row{
        gap: 70px;
        display: flex;
        flex-direction: column;
    }

    .services, .text, .reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contacts, footer {
        margin-left: 0; 
    }
    
}

@media screen and (max-width: 1200px) {
    .banner{
        display: none;
    }

    body{
        padding-left: 5px;
    }
    .form input, #email, #password, #name, #password-confirm, .booking-select, .calendar, .textarea, .rating{
        border-radius: 10px;
        width: 280px;
        height: 64px;
        background: rgba(152, 165, 164, 0.85);
        font-weight: 350;
        font-size: 20px;
        color: #f8f8f8;
        outline: none;
        border: none;
        padding: 10px;
    }
    
}

.login-form, .register-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
}


.services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    width: 350px;
    height: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.service-card img {
    width: 100%;
    height: 525px;
    border-radius: 10px;
}

.price {
    font-weight: bold;
    color: #223d21;
    font-size: 20px;
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img{
    height: 550px;
    margin-right: 10%;  
    border-radius: 20px;
}

.txt-column{
    font-size: 20px;
}

.booking-form{
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
}

.inquiry-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rating, #sort, #title{
    border-radius: 10px;
    border: none;
    outline: none;
    width: fit-content;
    height: 50px;
}

#button-sort{
    margin-left: 5%;
}



@media screen and (max-width: 768px) {
    body {
        padding-left: 10px;
        padding-top: 80px;
    }

    .hero-section, .text, .services, .reviews, .contacts {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .heading {
        font-size: 28px;
    }

    .plain {
        font-size: 18px;
    }

    .button-wrap {
        flex-direction: column;
        gap: 15px;
    }

    .banner {
        display: none;
    }

    .service-row, .service-grid {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .service {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .service img {
        width: 100%;
        height: auto;
        border-radius: 0 0 20px 20px;
    }

    .wrap {
        padding: 15px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        width: 100%;
        font-size: 16px;
    }

    .review, .contact, .form {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .review p, .contact p {
        font-size: 18px;
        width: 100%;
    }

    .author {
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
    }

    .form input, .inquiry-form input, .inquiry-form textarea {
        width: 100%;
    }

    .form, .inquiry-form {
        padding-left: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: auto;
        padding: 20px;
        margin-top: 50px;
    }

    .service-card{
        width: 280px;
    }
    
    .filter, .container-row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .menu {
        width: 70%;
        left: -70%;
        display: flex;
    }
}

.booking-edit{
    display: flex;
    flex-direction: column;
    gap: 40px;
}